/* HEADER */

header {
    background-color: #bdfaaf;
}

nav {
    text-align: center;
    background-color: #ccfad0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

/* MAIN */

.info-title {
    margin: 30px;
}

main {
    display: flex;
    justify-content: space-around;
}

main nav {
    margin: 30px;
}

.personal {
    background-color: aqua;
    width: 25%;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
}

.info {
    background-color: #78eec6;
    width: 75%
}

.code {
    background-color: #ccfad0;
    text-align: center;
    margin: 30px;
}

/* FOOTER */

footer {
    background-color: #bdfaaf;
    text-align: center;
}

footer img {
    width: 100px;
    height: 100px;
}